services:
  - name: quinta-ypua-api
    type: web
    runtime: docker
    plan: free
    region: frankfurt

    dockerfilePath: ./Dockerfile
    dockerContext: .

    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
